
findlive\.xcodeproj/xcuserdata/martingabriel\.xcuserdatad/xcdebugger/

findlive\.xcodeproj/xcshareddata/xcschemes/findlive\.xcscheme

findlive\.xcodeproj/xcuserdata/martingabriel\.xcuserdatad/xcschemes/xcschememanagement\.plist

*.icloud

*.xcsettings
